.logout-btn {
  color: #fbfeff;
  opacity: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 500ms;
}

.logout-btn:hover {
  opacity: 100%;
}

.username-light {
  color: #fffffa;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}
