.messages-container {
  height: 21rem;
  overflow: hidden;
  background: #333138;
}
.messages-container:hover {
  overflow-y: scroll;
}

.no-conversation-container {
  height: 77.3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-conversation-plane {
  font-size: 60px;
  color: #fffffa;
}
