.send-button {
  border-radius: 50%;
}
.message-input-container {
  border-radius: 58px;
  background: #333138;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.message-input {
  background: none;
  border-radius: 60px;
  outline: none;
  border: none;
  width: 95%;
}

.emoji-btn {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
}

.emoji-btn:hover {
  color: #fffffa;
  cursor: pointer;
}
