.message-input {
  width: 100%;
}

.emoji-btn {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  transition: 500ms;
}

.emoji-btn:hover {
  color: #fffffa;
  cursor: pointer;
}
